body {
   background-color: #177991 ;
}

h1 {
  color: orange;
  text-align: center;
  text-transform: uppercase;
  border-style: solid;
  border-color: #e9e19b;
}


.orange {
    text-align: center;
    color: #f2f6f6;
}

.HEAD {
    display: block;
    margin-left: auto;
    margin-right: auto;
}